#beforeWorks {
    p:nth-child(1) {
        text-align: center;
        width: 57vw;
        margin: 0 auto;
        padding-top: 88px;
        padding-bottom: 75px;
    }
    .social-icons {
        display: flex;
        flex-direction: column;
        i {
            font-size: 30px;
            padding-top: 70px;
            &:nth-child(1) {
                padding-top: 10px;
            }
        }
    }
}